<!DOCTYPE html>
<html>
<head>
    <title>Malchior VII's Premier News Organization</title>
    <link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css" />
    <link rel="stylesheet" href="../static/article.css" />
</head>
<body>
    <header>
        <div id="header-top">
            <a href="/">NewsChain</a>
        </div>
        <div id="header-bottom">
            <a href="/refresh">Add an article</a>
        </div>
    </header>
    
    <div id="content">
    <h1>
        {{article.headline}}
    </h1>
        <ul id="images">
        {% for _ in article.images %}
            <li>
                <img src="../{{_[0]}}" />
                <br />
                {{_[1]}}
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>
