<!DOCTYPE html>
<html>
<head>
    <title>Malchior VII's Premier News Organization</title>
    <link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css" />
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>
    <header>
    <a href="refresh">Add an article</a>
    </header>
    <div id="content">
        <ul id="headlines">
        {% for _ in lines %}
            <li>
                <div style="background-image: url(./static/images/{{ _.guid }}/image00000000)">
                </div>
                <span>{{ _.headline }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>
