<!DOCTYPE html>
<html>
<head>
    <title>Malchior VII's Premier News Organization</title>
    <link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css" />
    <link rel="stylesheet" href="static/main.css" />
</head>
<body>
    <header>
        <div id="header-top">
            <a href="/">NewsChain</a>
        </div>
        <div id="header-bottom">
            <a href="refresh">Add an article</a>
        </div>
    </header>
    <div id="content">
        <ul id="headlines">
        {% for _ in lines %}
            <li>
                <a href="./articles/{{_.guid}}">
                <div style="background-image: url(./static/images/{{ _.guid }}/image00000000)">
                </div>
                {{ _.headline }}
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>
